{% extends "base.html" %}



{% block menu %}
          <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span>Printer</a></li>
            <li><a href="/enqueue"><span class="glyphicon glyphicon-import"></span>Enqueue File</a></li>
            <li class="active"><a href="/info"><span class="glyphicon glyphicon-question-sign"></span>Controller Info</a></li>
          </ul>
{% endblock %}


{% block content %}


<div class="container">


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">



            <div class="image">
                <div id="left"></div>
                <div id="up"><b>one step up</b></div>
                <div id="right"></div>
                <div id="down"><b>one step down</b></div>
                <div id="shoulderleft"><b>switch black flag</b></div>
                <div id="shoulderright"><b>switch black flag</b></div>
                <div id="buttonx"></div>
                <div id="buttona"></div>
                <div id="buttonb"></div>
                <div id="buttony"></div>
                <div id="buttonstart"></div>
                <div id="buttonselect"><b>stop app</b></div>
            <img src="{{ url_for('static', filename='img/snes.png') }}" style="width: 100%;" />
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

</div>

{% endblock %}

